[submodule "js/libs/Material"]
	path = js/libs/Material
	url = https://github.com/Dogfalo/materialize.git
[submodule "js/libs/WaveSufer"]
	path = js/libs/WaveSufer
	url = https://github.com/katspaugh/wavesurfer.js
[submodule "js/libs/RecordRTC"]
	path = js/libs/RecordRTC
	url = https://github.com/muaz-khan/RecordRTC.git
[submodule "js/libs/Async"]
	path = js/libs/Async
	url = https://github.com/caolan/async.git
[submodule "js/libs/Hammer"]
	path = js/libs/Hammer
	url = https://github.com/hammerjs/hammer.js.git
[submodule "js/libs/Hammer.jQuery"]
	path = js/libs/Hammer.jQuery
	url = https://github.com/hammerjs/jquery.hammer.js
