[submodule "js/libs/Material"]
	path = js/libs/Material
	url = https://github.com/Dogfalo/materialize.git
[submodule "js/libs/WaveSufer"]
	path = js/libs/WaveSufer
	url = https://github.com/katspaugh/wavesurfer.js
[submodule "js/libs/Async"]
	path = js/libs/Async
	url = https://github.com/caolan/async.git
[submodule "js/libs/Hammer"]
	path = js/libs/Hammer
	url = https://github.com/hammerjs/hammer.js.git
[submodule "js/libs/Hammer.jQuery"]
	path = js/libs/Hammer.jQuery
	url = https://github.com/hammerjs/jquery.hammer.js
[submodule "js/libs/MSR"]
	path = js/libs/MSR
	url = https://github.com/streamproc/MediaStreamRecorder.git
[submodule "js/libs/Dragend"]
	path = js/libs/Dragend
	url = https://github.com/Stereobit/dragend.git
